<% unless @patient.last_name.empty? %>
  <h3 class="z-depth-3 teal lighten-2">
    <%= @patient.first_name %>
    <%= @patient.last_name %>
  </h3>
  <hr />
<% end %>

<% if @patient.appointments.any? %>
  <h5>Appointments</h5>
  <ul>
    <% @patient.appointments.each do |appointment| %>
      <li>
        <b>
        <%= appointment.appointment_date %> with Dr. <%= appointment.doctor.last_name %>
        </b>
      </li>
      <li>
          <%= link_to 'Cancel Appointment', appointment_path(appointment), method: :delete, class: 'btn' %>
      </li>
      <% end %>
    </ul>
    <% else %>
      <h5>No Appointments Found</h5>
  <% end %>

  <%= link_to 'Patients Home', patients_path, class: 'btn' %>
