<h1 class="z-depth-3 teal lighten-2">Doctors</h1>
<table>
  <thead>
    <tr>
      <th>Doctor Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td>
          <b><%= doctor.first_name %> <%= doctor.last_name %>:</b>
          <%= link_to "View Doctor's Appointments", doctor_path(doctor) %> |
          <%= link_to "Edit Doctor Details", edit_doctor_path(doctor) %> |
          <%= link_to "Delete Doctor", doctor, method: :delete, data: { confirm: 'Are you sure?' } %> 
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<br />

<%= link_to 'Create Doctor', new_doctor_path, class: 'btn' %>

<%= link_to 'Add Appointment For Doctors', new_appointment_path, class: 'btn' %>

<div class='container left'>
  <br />
  <h5>
    To View the current patients at the offices of Dr. Pepper, click on the
    patients link in the top right corner of the screen
  </h5>
</div>
