<h1 class="z-depth-3 teal lighten-2">Add Appointment</h1>
<hr />

<% if @doctors.any? && @patients.any? %>
  <%= form_for @appointments do |f| %>
    <%= f.label :doctor_id %>
    <%= f.select :doctor_id, options_for_select(@doctors) %>

    <br />

    <%= f.label :patient_id %>
    <%= f.select :patient_id, options_for_select(@patients) %>

    <br />

    <%= f.label :appointment_date, 'Appointment Date' %>
    <%= f.text_field :appointment_date, required: true, placeholder: 'Appointment Date' %>

    <%= f.label :appointment_time, 'Appointment Time' %>
    <%= f.text_field :appointment_time, required: true, placeholder: 'Appointment Time' %>

    <%= f.submit nil, class: 'btn' %>
    <% end %>
<% else %>
  <div>
    <h5>
      Not enough doctors and patients in the system to create a new appointment.
      Please create a new doctor and patient in order to create an appointment.
    </h5>
  </div>
<% end %>
